@using System.Data.Entity
@using AcreditacionesBackend.Models
@model IEnumerable<AcreditacionesBackend.Models.Work>

@{
    ViewBag.Title = "Index";
    var db = new Entities();
}

<div class="jumbotron">
    @if (ViewBag.NotFinished)
    {
        <h1 style="color: orangered;">Trabajos que aún no fueron presentados</h1>
        <a href="@Url.Action("Index", "Works", new { notFinished = false })" class="btn btn-info">Volver a lista de trabajos presentados</a>
    }
    else
    {
        <h1>Trabajos Agrupados por Áreas</h1>
        <a href="@Url.Action("Index", "Works", new { notFinished = true })" class="btn btn-info">Ver trabajos en edición (no presentados)</a>
    }
    <h2>@Model.Count(x => x.EstadoID != 6) trabajos en total</h2>
    <hr />
    <h3>Revisión Rápida de Trabajos por Área:</h3>
    <div class="col-md-12">
        <ul class="breadcrumb">
            @foreach (var area in db.WorkAreas.ToList())
            {
                <li><strong>#@area.Id @area.Nombre:</strong> <span style="color: red;">@Model.Count(x => x.AreaID.Equals(area.Id)) trabajos.</span></li>
            }
        </ul>
    </div>
    <br />
    <br />
    <hr />
</div>

<div class="col-md-12">

    @if (ViewBag.NotFinished)
    {
        <h2 style="color: orangered;">#-1 Trabajos que aún no tiene área seleccionada ( @Model.Count(x => x.AreaID.Equals(-1)) trabajo/s )</h2>
        <table class="table">
            <tr>
                <th style="width: 25%;">
                    Título
                </th>
                <th style="width: 55%;">
                    Autores
                </th>
                <th style="width: 10%;">
                    Estado
                </th>
                <th style="width: 10%;">
                    DNI
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.Where(x => x.AreaID.Equals(-1)))
            {
                <tr>
                    <td>
                        <strong>@Html.Raw(AcreditacionesBackend.Utils.HtmlRemoval.StripTagsRegex(item.Title))</strong>
                        <hr />
                    </td>
                    <td>
                        <ul>
                            <strong>Email de contacto: @item.Accreditation.Email</strong>
                            <br />
                            @Html.Raw(string.Join("", item.Authors.Select(x => x.IsPresenter.GetValueOrDefault(false) ? string.Format("<strong style='color: orangered;'>{0}*</strong>, ", x.Nombre) : string.Format("{0}, ", x.Nombre))))
                        </ul>
                    </td>
                    <td>
                        <span>@db.WorkStatus.Find(item.EstadoID).Nombre</span>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Accreditation.DNI)
                    </td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                                Acciones
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                <li role="presentation" class="dropdown-header">Elija una opción</li>
                                <li role="presentation">@*@Html.ActionLink("Editar", "Edit", new { id = item.Id })*@</li>
                                <li role="presentation">@Html.ActionLink("Ver trabajo", "Details", new { id = item.Id })</li>
                                <li role="presentation">@Html.ActionLink("Exportar Trabajo", "Export", new { id = item.Id }, new { target = "_blank" })</li>
                                <li role="presentation">@Html.ActionLink("Eliminar", "Delete", new { id = item.Id })</li>
                                <li role="presentation"><a href="http://acreditaciones.azurewebsites.net/Trabajos.aspx?internal=@AcreditacionesBackend.Utils.Base64String.Base64Encode(item.Accreditation.DNI)&work=@AcreditacionesBackend.Utils.Base64String.Base64Encode(item.Id.ToString())&poweruser=true" target="_blank">Editar como administrador</a></li>
                                <li role="presentation" class="dropdown-header">Evaluación</li>
                                <li role="presentation">@Html.ActionLink("Asignar a supervisor", "AssignWorkToSupervisor", new { id = item.Id })</li>
                            </ul>
                        </div>
                    </td>
                </tr>
            }

        </table>
    }



    <hr />
    @foreach (var area in db.WorkAreas.ToList())
    {
        <h2>#@area.Id @area.Nombre ( @Model.Count(x => x.AreaID.Equals(area.Id)) trabajo/s )</h2>
        <table class="table">
            <tr>
                <th style="width: 25%;">
                    Título
                </th>
                <th style="width: 55%;">
                    Autores
                </th>
                <th style="width: 10%;">
                    Estado
                </th>
                <th style="width: 10%;">
                    DNI
                </th>
                <th></th>
            </tr>

            @{ int pos = 1;}
            @foreach (var item in Model.Where(x => x.AreaID.Equals(area.Id)))
            {
                <tr>
                    <td>
                        <strong>@Html.Raw(AcreditacionesBackend.Utils.HtmlRemoval.StripTagsRegex(item.Title))</strong>
                        <hr />
                        @if (!ViewBag.NotFinished)
                        {
                            if (item.PosicionEnElArea != pos)
                            {
                                var updatePosWork = db.Works.Find(item.Id);
                                updatePosWork.PosicionEnElArea = pos;
                                db.Entry(updatePosWork).State = EntityState.Modified;
                                db.SaveChanges();
                            }
                            
                            <strong style="color: red;">Posición en el área: @pos</strong><br />
                            <strong style="color: orangered; font-size: large;">Nro de Poster: @area.Id-@pos</strong>
                        }

                        @{ pos++;}
                    </td>
                    <td>
                        <strong>Email de contacto: @item.Accreditation.Email</strong><br />
                        @Html.Raw(string.Join("", item.Authors.Select(x => x.IsPresenter.GetValueOrDefault(false) ? string.Format("<strong style='color: orangered;'>{0}*</strong>, ", x.Nombre) : string.Format("{0}, ", x.Nombre))))
                    </td>
                    <td>
                        <span>@db.WorkStatus.Find(item.EstadoID).Nombre</span>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Accreditation.DNI)
                    </td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                                Acciones
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                <li role="presentation" class="dropdown-header">Elija una opción</li>
                                <li role="presentation">@*@Html.ActionLink("Editar", "Edit", new { id = item.Id })*@</li>
                                <li role="presentation">@Html.ActionLink("Ver trabajo", "Details", new { id = item.Id })</li>
                                <li role="presentation">@Html.ActionLink("Exportar Trabajo", "Export", new { id = item.Id }, new { target = "_blank" })</li>
                                <li role="presentation">@Html.ActionLink("Eliminar", "Delete", new { id = item.Id })</li>
                                <li role="presentation"><a href="http://acreditaciones.azurewebsites.net/Trabajos.aspx?internal=@AcreditacionesBackend.Utils.Base64String.Base64Encode(item.Accreditation.DNI)&work=@AcreditacionesBackend.Utils.Base64String.Base64Encode(item.Id.ToString())&poweruser=true" target="_blank">Editar como administrador</a></li>
                                <li role="presentation" class="dropdown-header">Evaluación</li>
                                <li role="presentation">@Html.ActionLink("Asignar a supervisor", "AssignWorkToSupervisor", new { id = item.Id })</li>
                            </ul>
                        </div>
                    </td>
                </tr>
            }

        </table>
    }
</div>
