@using AcreditacionesBackend.Models
@model IEnumerable<AcreditacionesBackend.Models.Work>

@{
    ViewBag.Title = "Index";
    var db = new Entities();
}

<div class="jumbotron">
    <h1>Trabajos Agrupados por Áreas</h1>
    <h2>@db.Works.Count() trabajos en total</h2>
    <hr />
    <h3>Revisión Rápida de Trabajos por Área:</h3>
    <div class="col-md-12">
        <ul class="breadcrumb">
            @foreach (var area in db.WorkAreas.ToList())
            {
                <li><strong>#@area.Id @area.Nombre:</strong> <span style="color: red;">@db.Works.Count(x => x.AreaID.Equals(area.Id)) trabajos.</span></li>
            }
        </ul>
    </div>
    <br />
    <br />
    <hr />
</div>

<div class="col-md-12">
    @foreach (var area in db.WorkAreas.ToList())
    {
        <h2>#@area.Id @area.Nombre ( @db.Works.Where(x => x.AreaID.Equals(area.Id)).Count() trabajo/s )</h2>
        <table class="table">
            <tr>
                <th style="width: 25%;">
                    Título
                </th>
                <th style="width: 55%;">
                    Autores
                </th>
                <th style="width: 10%;">
                    Estado
                </th>
                <th style="width: 10%;">
                    @Html.DisplayNameFor(model => model.Puntaje)
                </th>
                <th></th>
            </tr>
            
            @{ int pos = 1;}
            @foreach (var item in Model.Where(x => x.AreaID.Equals(area.Id)))
            {
                <tr>
                    <td>
                        <strong>@Html.Raw(AcreditacionesBackend.Utils.HtmlRemoval.StripTagsRegex(item.Title))</strong>
                        <hr/>
                        <strong style="color: red;">Posición en el área: @pos</strong><br/>
                        <strong style="color: orangered; font-size: large;">Nro de Poster: @area.Id-@pos</strong>

                        @{ pos++;}
                    </td>
                    <td>
                        <ul>
                            @Html.Raw(string.Join("", item.Authors.Select(x => string.Format("<li><strong>{0}</strong> {1}</li>", x.Nombre, x.Establecimiento))))
                        </ul>
                    </td>
                    <td>
                        <span>@db.WorkStatus.Find(item.EstadoID).Nombre</span>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Puntaje)
                    </td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                                Acciones
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                <li role="presentation" class="dropdown-header">Elija una opción</li>
                                <li role="presentation">@*@Html.ActionLink("Editar", "Edit", new { id = item.Id })*@</li>
                                <li role="presentation">@Html.ActionLink("Ver trabajo", "Details", new { id = item.Id })</li>
                                <li role="presentation">@Html.ActionLink("Exportar Trabajo", "Export", new { id = item.Id }, new { target = "_blank" })</li>
                                <li role="presentation">@Html.ActionLink("Eliminar", "Delete", new { id = item.Id })</li>
                                <li role="presentation"><a href="http://acreditaciones.azurewebsites.net/Trabajos.aspx?internal=@AcreditacionesBackend.Utils.Base64String.Base64Encode(item.Accreditation.DNI)&work=@AcreditacionesBackend.Utils.Base64String.Base64Encode(item.Id.ToString())&poweruser=true" target="_blank">Editar como administrador</a></li>
                                <li role="presentation" class="dropdown-header">Evaluación</li>
                                <li role="presentation">@Html.ActionLink("Asignar a supervisor", "AssignWorkToSupervisor", new { id = item.Id })</li>
                            </ul>
                        </div>
                    </td>
                </tr>
            }

        </table>
    }
</div>
